body {
  font-family: monospace,sans-serif;
  margin: 2em;
  margin: 0;
  padding: 0;
}

.title {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 60px;
}

.address {
  position: absolute;
  top: 100px;
  left: 60px;
  text-align: left;
}

.content-left {
  position: absolute;
  right: 100px;
  top: 28px;
}

.content-right {
  position: absolute;
  right: 100px;
  top: 28px;
}

.website {
  margin: 0 auto;
  position: inherit;
}
  
a {
  text-decoration: none;
  color: red;
}

h1 {
  font-size: 50px;
}

.upper-left-box {
  border: 1px solid grey;
  width: 300px;
  height: 300px;
}

.upper-right-box {
  border: 1px solid grey; 
  width: 300px;
  height: 300px;
  position: absolute;
  top: 0;
  right: 0;
}

.middle-box {
  border: 1px solid grey;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}