.me{
    height: auto;
    width: 1500px;
    position: absolute;
}

.fam{
    height: auto;
    width: 1500px;
    position: absolute;
}

.rec{
    height: auto;
    width: 1500px;
    position: absolute;
}

.circle{
    height: auto;
    width: 1500px;
    position: absolute;
}

.brec{
    height: auto;
    width: 1500px;
    position: absolute;
}